
.home-icon {
  display: block;
  margin-right: 1.2em;
  margin-left: 2.0em;
}
.icon {
  width: 2.8em;
  height: 2.8em;
  display: block;
}
.icon:active {
  transform: scale(0.88);
}


.github-icon {
  vertical-align: baseline;
  line-height: 1;
}


@keyframes PicZoom {
  0% {
    filter: blur(5em);
    transform: scale(0.0);
    opacity: 0;
  }
  40% {
    filter: blur(3em);
    transform: scale(0.3);
    opacity: 0;
  }
  100% {
    filter: blur(0);
    transform: scale(1.0);
    opacity: 1;
  }
}
.portrait-zoom {
  max-width: 15em;
  height: auto;
  animation: PicZoom 4.0s ease-in;
  transform-origin: 0% 50%;
}