
<!-- templates/index.html -->
{% extends "index.html" %}

{% block title %}EurojackpotApp{% endblock %}

{% block content %}
<div id="slide-effekt" class="slide-rechts-links"></div>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<ul class="back">
  <li><a href="{{ url_for('portfolio') }}?fadein=1" class="back {% if active_page == 'portfolio' %}active current{% endif %}" title="zurück zum Portfolio">zurück</a></li>
</ul>

<div class="swiper">
    <div class="swiper-wrapper" style="font-family: 'PathwayGothicOne';">

        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp1.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp1.png') }}" class="slideshow-EJApp" alt="EurojackpotApp1">
            </a>
            <p class="EJApp-p">
                Eine in Python Qt geschriebene minimalistische App ohne Chi-Chi zum Generieren von Glückszahlen, Eintragen<br>
                von gezogenen Zahlen in eine SQLite-Datenbank und überprüfen von Tipps auf Gültigkeit und Datenbankabgleich.
            </p>
        </div>

        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp2.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp2.png') }}" class="slideshow-EJApp" alt="EurojackpotApp2">
            </a>
            <p class="EJApp-p">
                Generieren von Glückszahlen
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp3.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp3.png') }}" class="slideshow-EJApp" alt="EurojackpotApp3">
            </a>
            <p class="EJApp-p">
                In eine Datenbank können gezogene Jackpotzahlen eingetragen werden.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp4.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp4.png') }}" class="slideshow-EJApp" alt="EurojackpotApp4">
            </a>
            <p class="EJApp-p">
                Damit man keine ungültigen Zahlen in die Datenbank einträgt, gibt es eine Fehlerbehandlung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp5.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp5.png') }}" class="slideshow-EJApp" alt="EurojackpotApp5">
            </a>
            <p class="EJApp-p">
                Seine eigenen Tipps kann man überprüfen lassen . . .
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp6.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp6.png') }}" class="slideshow-EJApp" alt="EurojackpotApp6">
            </a>
            <p class="EJApp-p">
                . . . z.B. ob sie schon einmal gezogen wurden.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp7.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp7.png') }}" class="slideshow-EJApp" alt="EurojackpotApp7">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp8.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp8.png') }}" class="slideshow-EJApp" alt="EurojackpotApp8">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp9.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp9.png') }}" class="slideshow-EJApp" alt="EurojackpotApp9">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp10.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp10.png') }}" class="slideshow-EJApp" alt="EurojackpotApp10">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp11.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp11.png') }}" class="slideshow-EJApp" alt="EurojackpotApp11">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp12.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp12.png') }}" class="slideshow-EJApp" alt="EurojackpotApp12">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp13.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp13.png') }}" class="slideshow-EJApp" alt="EurojackpotApp13">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp14.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp14.png') }}" class="slideshow-EJApp" alt="EurojackpotApp14">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
        
        <div class="swiper-slide projektdetails">
            <a
                href="{{ url_for('static', filename='EJApp15.png') }}" target="_blank" title="Bild öffnet im neuen Fenster">
                <img src="{{ url_for('static', filename='EJApp15.png') }}" class="slideshow-EJApp" alt="EurojackpotApp15">
            </a>
            <p class="EJApp-p">
                Eine umfangreiche Fehlerbehandlung steht zur Verfügung.
            </p>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        keyboard: {
            enabled: false,
            onlyInViewport: true,
        },
    });
    window.addEventListener('keydown', (e) => {
        if (document.activeElement.tagName !== 'INPUT' && document.activeElement.tagName !== 'TEXTAREA') {
            if (e.key === 'ArrowLeft') {
                swiper.slidePrev();
            } else if (e.key === 'ArrowRight') {
                swiper.slideNext();
            }
        }
    });
</script>

<script>
    document.querySelectorAll('.back a').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
            const overlay = document.getElementById("slide-effekt");
            overlay.className = "slide-rechts-links";
            overlay.offsetHeight;
            setTimeout(() => {
                overlay.classList.add("slide-in");
            }, 50);
            overlay.addEventListener('transitionend', () => {
                window.location.href = link.href;
            }, { once: true });
        });
    });
</script>

{% endblock %}
