
<!-- templates/index.html -->
{% extends "index.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
<div style="   background: linear-gradient(
    100deg,
    rgba(186, 45, 45, 0.1),
    rgba(108, 107, 175, 0.2)
  );
  border-radius: 0.5em;
  margin-top: 2em;
  padding-right: 1em;
  padding-left: 1em;
  margin-bottom: 4em;">
 <h1 class="zoom-in" style="
            text-align: center;
            padding-bottom: 0.25em;
            color: rgba(236, 236, 236);
            font-family: 'PathwayGothicOne';
            font-size: 3rem;
            text-shadow:    0 0 0.25em rgba(164, 41, 230, 0.3),
                            0 0 0.25em rgba(167, 90, 214, 0.3),
                            0 0 0.25em rgba(127, 32, 229, 0.2),
                            0 0 0.2em rgba(97, 13, 170, 0.6);"
            >
            Impressum
</h1>

<h3 style="
            margin-top: 2.5vh;
            margin-bottom: 5vh;
            text-align: center;
            color: white;
            line-height: 1.5em;
            font-family: 'PathwayGothicOne';"
            >
            <u>Inhaber:</u><br>
            Martin Günther<br>
            D 10318 - Berlin<br>
            E-Mail:&nbsp; Protools1802 @ gmail.com
</h3>

<p style="
            margin-top: 0.5vh;
            text-align: center;
            font-family: 'PathwayGothicOne';
            font-size: clamp(1.1rem, 1.1vw, 1.2rem);
            color: white;"
            >
            <b style="  text-shadow:    0 0 0.3em rgba(164, 41, 230, 0.3),
                                        0 0 0.3em rgba(167, 90, 214, 0.3),
                                        0 0 0.3em rgba(127, 32, 229, 0.2),
                                        0 0 0.3em rgba(97, 13, 170, 0.6);
            ">
            Haftungsausschuss:</b><br>
</p>

<p style="  text-align: center;
            font-family: 'PathwayGothicOne';
            font-size: clamp(1.0rem, 1.0vw, 1.1rem);
            color: white;">
            
            <b><u>Haftung für Inhalte</b></u><br>
            Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte kann ich keine Gewähr übernehmen.<br>
            Gemäß § 7 Abs.1 Digitale-Dienste-Gesetz (DDG) bin ich für eigene Inhalte verantwortlich, aber ich bin nicht verpflichtet (§ 8 bis § 10 DDG) übermittelte oder gespeicherte<br>
            fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tat hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung<br>
            von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten<br>
            Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werde ich diese Inhalte umgehend entfernen.<br>
            <br>
            <b><u>Urheberrecht</b></u><br>
            Sofern nicht anders gekennzeichnet, stelle ich Inhalte zur privaten oder nicht-kommerziellen Nutzung frei, sofern die Downloads und Kopien dieser Seite nur für den privaten<br>
            ODER nicht-kommerziellen Gebrauch genutzt werden.<br>
            Außerhalb der Grenzen der privaten oder nicht-kommerziellen Nutzung bedarf es der schriftlichen Zustimmung des Urhebers.<br>
            <br>
            Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet.<br>
            Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitte ich Sie um entsprechende Hinweise, damit ich diese Inhalte umgehend entfernen kann.<br>
            Abschließend weise ich ausdrücklich darauf hin, dass die bereitgestellte Software ohne jegliche Gewährleistung zur Verfügung gestellt wird. Die Nutzung erfolgt auf eigene Gefahr.<br>
            Ich übernehme keinerlei Haftung für Schäden, die durch die Nutzung entstehen können.</br>
            <br>
            <b><u>Datenschutz</b></u><br>
            Diese Webseite benutzt keine Cookies, Disclaimers, Analysetools o.ä. Die Nutzung ist ganz ohne Angaben von personenbezogenen Daten möglich.</br>
            Im Kontaktformular ist die Angabe einer E-Mail-Adresse und eines Namens notwendig, um eine Rückantwort geben zu können, sofern dies erwünscht ist. Die E-Mail-Adresse oder andere<br>
            im Rahmen der Kontaktaufnahme eingegebenen personenbezogenen Daten (Name etc.) werden nur zur Beantwortung der Anfrage genutzt und anschließend gelöscht. Die Daten werden<br>
            niemals an Dritte weitergegeben oder verkauft. Es gilt allerdings zu beachten, dass ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte technisch nicht möglich ist.<br>
            <br>
            Es ist ausdrücklich nicht erwünscht, dass über die im Impressum veröffentlichten Kontaktdaten Werbung ("Spam") übermittelt wird!<br>
            <br>
</p>
</div>
 
{% endblock %}
