
<!-- templates/portfolio.html -->
{% extends "index.html" %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div id="slide-effekt" class="slide-links-rechts"></div>
<h1 class="zoom-in-port" style="
    text-align: center;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    color: rgba(227, 226, 226);
    font-family: 'Agency FB';
    font-weight: bold;
    font-size: clamp(2.5rem, 2.9vw, 3.5rem);
    text-shadow:    0 0 0.2em rgba(186, 45, 45, 0.9);"
    >
    Portfolio
</h1>
<br>
<div class="portfolio-kacheln">
    <div class="card">
        <a href="{{ url_for('app1') }}" class="card-link">
            <img src="{{ url_for('static', filename='EJApp_Front.jpg') }}" alt="EurojackpotApp" title="Für mehr Informationen klicken">
        </a>
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec; padding-bottom:0.1em;">EurojackpotApp</h2>
        <div class="trennstrich-links"></div>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);"></span><a href="https://www.mguenther-build.de/EJApp.exe" class="software-link" title="App herunterladen">⬇️ Download (exe)</a>
        </p>
    </div>

    <div class="card">
        <a href="{{ url_for('app2') }}" class="card-link">
        <img src="{{ url_for('static', filename='WApp_Front.jpg') }}" alt="WetterApp" title="Für mehr Informationen klicken">
        </a>
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec; padding-bottom:0.1em;">WetterApp</h2>
        <div class="trennstrich-rechts"></div>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);"></span><a href="https://www.mguenther-build.de/WetterApp" class="software-link" title="App im neuen Fenster öffnen" target="_blank">🌐 öffnen</a>
        </p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='JDD_Front.jpg') }}" alt="PostgreSQL-Dashboard">
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec;"><a href="#">PostgreSQL-Dashboard</a></h2>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);">⬇️ Download (exe)</p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='SpielQuizApp.jpg') }}" alt="Spiel-Quiz-App">
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec;"><a href="#">Spiel-Quiz-App</a></h2>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);">🌐 <s>als WebApp öffnen</s> (in Arbeit) &nbsp; | &nbsp; <s>⬇️ Download</s> (in Arbeit)</p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='projekt5.png') }}" alt="Projekt 5">
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec;"><a href="#">Hotel-Buchungssystem</a></h2>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);">... in Arbeit</p>
    </div>

    <div class="card">
        <img src="{{ url_for('static', filename='Dark Chess (proto).jpg') }}" alt="Projekt 7">
        <h2 style="font-family: 'Agency FB'; font-weight: bold; color: #ececec;"><a href="#">No Kings Schach</a></h2>
        <p style="font-size: clamp(0.8rem, 0.9vw, 1.1rem);">... in Planung</p>
    </div>
</div>

<script>
    document.querySelectorAll('.card-link').forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();
        const overlay = document.getElementById("slide-effekt");
        const topbar = document.getElementById("topbar");
        overlay.className = "slide-links-rechts";
        overlay.offsetHeight;
        if (topbar) {
            topbar.classList.add("fade-out");
            setTimeout(() => {
                topbar.classList.add("start");
            }, 20);
        }
            setTimeout(() => {
            overlay.classList.add("slide-in");
            }, 50);
            overlay.addEventListener('transitionend', () => {
                window.location.href = link.href;
            }, { once: true });
        });
    });
</script>

{% if request.args.get('fadein') %}
<nav id="topbar" class="topbar fade-in">
{% else %}
<nav id="topbar" class="topbar">
{% endif %}

{% endblock %}
